/* Desktop Nav Styles */
.nav-desktop {
  display: block; /* Visible by default */
}

.nav-desktop ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 16px;
}

/* Mobile Nav Styles */
.nav-mobile {
  /* Positioned off-screen to the left */
  transform: translateX(-150%); 
  transition: transform .5s ease;
}

.nav-mobile ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 40rem) {
  /* Hide the desktop menu */
  .nav-desktop {
    display: none;
  }

  /* Slide the mobile menu back to its original position (on-screen) */
  .nav-mobile {
    transform: translateX(0%);
  }
}